.input-sm {
    font-size: 10px;
    padding: 4px 8px;
  }
  .small-select {
    /* Styles spécifiques pour la classe small-select */
    /* Par exemple : */
    font-size: 12px;
    padding: 3px;
  }
  
  