<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1">Les Pays - {{les_payss.length}}</div>

  <div class="d-flex">
    <select [(ngModel)]="selectedOption" (change)="change_country()">
      <option value="">Tous les pays</option>
      <option value="populationInf5M">Population inférireur 5 000 000</option>
      <option value="populationInf10M">Population inférireur 10 000 000</option>
      <option value="populationSup10M">Population supérieur à 10 000 000</option>
      <option value="populationSup20M">Population supérieur 20 000 000</option>
    </select>
    
    <input class="input-sm" cFormControl placeholder="rechercher ici" type="text" [(ngModel)]="recherche"
      (keyup)="on_recherche_change()" />
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_add_pays">Ajouter Pays</button>
  </div>
</div>
<!-- list -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id_pays</th>
        <th scope="col">nom</th>
        <th scope="col">ville</th>
        <th scope="col">population</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let one_pays of les_payss"> -->
      <tr *ngFor="let one_pays of filtered_list">
        <td>{{one_pays.id_pays}}</td>
        <td>{{one_pays.nom}}</td>
        <td>{{one_pays.ville}}</td>
        <td>{{one_pays.population}}</td>
        <td>
          <div class="dropdown">

            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal_edit_pays"
              (click)="on_click_edit(one_pays)">Modiifer</button>

          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- ajout -->
<div class="modal fade" id="modal_add_pays" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header " data-bs-theme="dark">
        <h1 class="modal-title fs-5">Ajouter Pays</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)=" on_close_modal_add()"></button>
      </div>
      <div class="modal-body">
        <app-add-pays (cb_add_pays)="after_add($event)"></app-add-pays>
      </div>
    </div>
  </div>
</div>
<!-- modification -->
<div class="modal fade" id="modal_edit_pays" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header" data-bs-theme="dark">
        <h1 class="modal-title fs-5">Modifier Pays</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="on_close_modal_edit()"></button>
      </div>
      <div class="modal-body">
        <app-edit-pays *ngIf="pays_to_edit" (cb_edit_pays)="after_edit($event)"
          [pays_to_edit]="pays_to_edit"></app-edit-pays>
      </div>
    </div>
  </div>
</div>