/* You can add global styles to this file, and also import other style files */
.modal-header {
    background:  linear-gradient(to right,#2e4765 70%,white)!important;
}
.modal-header h1{
    color: white;
}
.btn-close {
    color: #fff!important; 
    opacity: 1;
}
.clique{
    cursor: pointer;
}